<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
    <!-- Import Vega 5 & Vega-Lite 3 (does not have to be from CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@3"></script>
    <!-- Import vega-embed -->
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@4"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Disaster Response Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://www.udacity.com/">Made with Udacity</a></li>
                <li><a href="https://github.com/">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Disaster Response Project</h1>
        <p class="text-center">Analyzing message data for disaster response</p>
        <hr />
      
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/go" method="get">
                    <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter a message to classify">
                    <div class="col-lg-offset-5">
                        <button type="submit" class="btn btn-lg btn-success">Classify Message</button>
                    </div>
                </form>
            </div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

<div class="container">
    {% block content %}
        <div class="page-header">
            <h1 class="text-center">Overview of Training Dataset</h1>
        </div>
    {% endblock %}
     
    <div class="row">
      <div class="col-lg-6">
         <div id="vis"></div>
      </div>
      <div class="col-lg-6">
         <div class="row">
           <div id="vis-2"></div>
         </div>
         <div class="row" style='margin-top: 15px;'>
           <div id="wc-1"></div>
         </div>
         <div class="row" style='margin-top: 15px;'>
           <div id="wc-2"></div>
         </div>
         <div class="row" style='margin-top: 15px;'>
           <div id="wc-3"></div>
         </div>
      </div>
    </div>
</div>

<script type="text/javascript">
  var opt = {
    actions: false
  };
  
  var spec = {{viz | safe}};
  vegaEmbed('#vis', spec, opt).then(function(result) {
    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
  }).catch(console.error);
  
  var spec_2 = {{viz_2 | safe}};
  vegaEmbed('#vis-2', spec_2, opt).then(function(result) {
    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
  }).catch(console.error);
  
  var wc_1 = {{wc_1 | safe}};
  vegaEmbed('#wc-1', wc_1, opt).then(function(result) {
    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
  }).catch(console.error);
  
   var wc_2 = {{wc_2 | safe}};
  vegaEmbed('#wc-2', wc_2, opt).then(function(result) {
    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
  }).catch(console.error);
  
   var wc_3 = {{wc_3 | safe}};
  vegaEmbed('#wc-3', wc_3, opt).then(function(result) {
    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
  }).catch(console.error);
</script>

</body>
</html>
